{% import_yaml 'project/defaults.yaml' as project -%}
{% set project = salt['grains.filter_by']({
    'default': project,
    }, merge=salt['pillar.get']('project', {})) -%}
{% set project = salt['grains.filter_by']({
    'default': project,
    }, merge=salt['grains.get']('project', {})) -%}
